# Python Crash Course

Pada bagian ini akan disajikan beberapa contoh script python sebagai media untuk belajar mandiri python, atau sekedar mengingat kembali seputar dasar python. Semoga bermanfaat, selamat belajar.

Yang akan dipelajari pada modul ini adalah 
1. Tipe Data
2. Pencabangan (If, else)
3. Perulangan (looping)
4. Fungsi

## 1. Tipe Data

Python sebagai salah satu bahasa pemrograman yang populer tentunya memiliki tipe data. Tipe data merupakan salah satu aspek yang penting dalam bahasa pemrograman manapun. Tipe data –sesuai namanya– ia adalah jenis dari suatu data. Setiap data memiliki nilai, dan setiap nilai memiliki jenis. Ada data-data yang bertipe angka, ada pula yang bertipe huruf/karakter, ada juga yang bertipe benar/salah dan sebagainya. Variabel dapat menyimpan nilai data berbeda dan nilai tersebut berperilaku berbeda pula. Secara default python memiliki tipe data antara lain :

1. Tipe Text yaitu string
2. Tipe Numeric yaitu Integer, Float, dan Complex
3. Tipe Sequence yaitu List, Tuple, Range
4. Tipe Mapping yaitu Dict
5. Tipe Set yaitu Set, Frozen Set
6. Tipe Boolean yaitu Bool

Untuk melihat tipe data kita bisa menggunakan fungsi bawaan dengan nama type(). Sebagai contoh kita ingin mengetahui beberapa type data dari nilai variable pada code berikut.

**TIPE DATA TEXT/STRING**

In [12]:
#001 - tipe data string tanpa variabel
print('halo')
print('selamat pagi semua')

halo
selamat pagi semua

In [11]:
#002 - tipe data string dengan variabel
kata = 'halo'
kalimat = 'halo semua, selamat datang'
print(kata)
print(kalimat)

halo
halo semua, selamat datang

In [9]:
#003 - pengecekan tipe data dengan fungsi type()
print(type(kata))
print(type(kalimat))

<class 'str'>
<class 'str'>

Tipe data String digunakan untuk menyimpan data text/kata dan kalimat. Tipe data ini dapat menyimpan bentuk data alphanumeris dan ciri utama string yaitu diapit oleh tanda ( ' ), sebagai contoh seperti penulisan kata serta kalimat diatas selalu diawali dan diakhiri tanda petik.
Pada line pertama di atas didefinisikan variabel dengan nama variabel "text" yang diisikan data text atau string berupa kata "halo", kemudian pada line kedua membuktikan tipe data dari variabel "text" adalah berupa 'str' atau string.

**TIPE DATA NUMERIK**

Tipe data numerik terdapat beberapa macam yaitu interger, float dan complex. Tipe data interger digunakan untuk data numerik berupa bilangan bulat, untuk tipe data float digunakan untuk menyatakan bilangan desimal dan tipe data complex digunakan untuk menyatakan pasangan angka real dan imajiner.

In [13]:
#004 - interger
x = 18

In [14]:
print(x)

18

In [15]:
#005 - float
y = 4.2001

In [16]:
print(y)

4.2001

In [33]:
#006 - complex
z = 3e-2

In [34]:
print(z)

0.03

In [32]:
#007pengecekan tipe data setiap variabel dengan fungsi type()
print('tipe data x =',type(x))
print('tipe data y =',type(y))
print('tipe data z =',type(z))

tipe data x = <class 'int'>
tipe data y = <class 'float'>
tipe data z = <class 'float'>

Pada sel nomor ke 7 diketahui bahwa variabel x bertipe interger dan variabel y bertipe float, tetapi variabel z yang seharusnya bertipe complex terdeteksi menjadi float saat diidentifikasi dengan fungsi type(), hal tersebut dikarenakan setelah nilai/bilangan complex diisikan ke dalam variabel secara otomatis saat variabel dipanggil maka hasil yang muncul adalah bilangan yang sama namun yang telah dikonversi ke bentuk tipe float/desimal.

**TIPE DATA SEQUENCE**

Secara umum sequence berarti adalah sebuah urutan, maka tipe data sequence adalah tipe data yang berupa urutan serta dalam tipe data ini memiliki nilai index (nomor urutan), pada data list dan sequence separator/pemisah tiap value adalah tanda koma (,). Berikut adalah penjelasan tiap jenis dari tipe data sequence :

- Tipe data list adalah sebuah urutan (sequence) dari kumpulan data yang dapat diubah - ubah (Flexibel). Data list dapat didefinisikan dengan []. Data list dapat memuat data serta variabel dengan isian string dan numerik
- Tipe data tuple adalah sebuah urutan (sequence) untuk menyimpan beberapa data yang tidak dapat diubah - ubah (Fixed). Data tupple dapat didefinisikan dengan (). Data tupple dapat memuat data serta variabel dengan isian string dan numerik
- range jenis nya lebih ke arah fungsi, karena menghasilkan sebuah urutan angka berdasarkan parameter yang diberikan. range biasanya digunakan untuk membuat looping pada python (pada tipe data ini akan terlihat jelas fungsinya ketika digunakan pada looping atau proses perulangan). 

Untuk penggunaan/penulisan tipe data tersebut dapat dilihat pada sel sel dibawah ini.

In [48]:
#008 - list
a = [1,2.09,'a','ab',3e+1,z]

In [49]:
print(a)
print(type(a))

[1, 2.09, 'a', 'ab', 30.0, 0.03]
<class 'list'>

In [82]:
#009 - tuple
b = (31.2,'selamat pagi','a01',x,z)

In [47]:
print(b)
print(type(b))

(31.2, 'selamat pagi', 'a01', 18, 0.03)
<class 'tuple'>

Pada Tuple nilai yang telah diberikan akan bersifat fixed, maka jika dicoba untuk mengganti salah satu nilai didalam tuple akan terjadi eror.

In [79]:
#010 - range
c = range(10)

In [80]:
print(c)
print(type(c))

range(0, 10)
<class 'range'>

Selain cara pemanggilan diatas, pada tipe data list dan tuple dapat dipanggil dengan index tertentu dengan menambahkan tanda [] yang berisikan nilai index, dimana nilai index mulai dari 0. Untuk lebih jelasnya bisa dilihat pada sel dibawah ini.

In [72]:
#011 - pemanggilan tipe data list dan tuple dengan nilai index
print(a[1])

2.09

In [74]:
print(b[:2])

(31.2, 'selamat pagi')

In [75]:
print(a[2:])

['a', 'ab', 30.0, 0.03]

In [76]:
print(b[1:3])

('selamat pagi', 'a01')

Pada tipe data list dapat dibuat berupa data nested list, atau yang biasa disebut adanya sebuah list didalam list, untuk lebih jelasnya bisa dilihat pada sel dibawah ini untuk cara pendefinisian dan pemanggilannya.

In [84]:
#012 - nested list
nest = [2,'z',[7,'f'],4]

In [85]:
print(nest[1])

z

In [86]:
print(nest[2])

[7, 'f']

In [87]:
print(nest[2][1])

f

**TIPE DATA MAPPING**

Tipe data mapping adalah jenis array untuk menyimpan beberapa pasang data yang memiliki **“key”** untuk penunjuk value. Tipe data ini dalam python adalah 'dictionary' atau disingkat 'dict'. Setiap key dipisahkan dari value-nya oleh titik dua (:), item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}. Nilai dictionary bisa berupa tipe apa pun, namun key harus berupa tipe data yang tidak berubah (unique value dan fixed) seperti string, angka, atau tuple.

In [65]:
#013 - dictionary
d = {'nama':'akmal','umur':20,'alamat':'mjk'}

In [69]:
print(d)
print(type(d))

{'nama': 'akmal', 'umur': 20, 'alamat': 'mjk'}
<class 'dict'>

Selain cara memanggil diatas, pada tipe data dictionary dapat dilakukan pemanggilan nilai variabel secara custom dengan menambahkan tanda [] yang berisikan key dari data value. Untuk lebih jelasnya dapat dilihat sebagai berikut.

In [78]:
#014 - pemanggilan tipe data dict dengan key
print(d['umur'])

20

**TIPE DATA SET**

Tipe data set adalah tipe data yang terdiri dari kelompok data yang sama (uniqe). Sehingga data yang ada didalamnya tidak boleh ada yang sama. Jika ada yang sama maka akan melebur menjadi satu. Perbedaan diantara keduannya adalah jika menggunakan metode set() elemen/anggota himpunan bersifat mutable yang artinya elemen dalam himpunan **dapat diubah**, sementara jika menggunakan frozenset() bersifat immutable yang artinya elemen di dalam himpunan **tidak dapat diubah**. Penulisan tipe data ini diawali dan diakhiri tanda {}.

In [88]:
#015 - set
s = {1,1,1,2,2,2,2,2,2,3,3,4,5,5,5,6,6,6,6,7,7}

In [89]:
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [93]:
#016 - frozen set
fs = frozenset(s)

In [91]:
print(fs)
print(type(fs))

frozenset({1, 2, 3, 4, 5, 6, 7})
<class 'frozenset'>

Pada tipe data frozen set diatas tidak mengenal fungsi add dan remove pada data, sehingga jika hendak menambah atau menghapus data dalam frosen set maka akan terjadi eror.

**TIPE DATA BOOLEAN**

Tipe data boolean adalah tipe data yang hanya memiliki 2 nilai yaitu **True** dan **False**, pada pernyataan benar atau true memiliki nilai 1 dan pada peryataan salah atau false memiliki nilai 0. Biasa digunakan dalam kebutuhan conditional programming.

In [98]:
#017 - boolean
t = True
f = False

In [104]:
print(t,f)
print(type(t))
print(type(f))

True False
<class 'bool'>
<class 'bool'>

Perlu diingat bahwa penulisan True dan False haruslah benar dengan diawali huruf kapital diawal kata dan diikuti huruf kecil setelahnya, untuk membantu mengidentifikasi tulisan kita sudah benar atau belum dapat dilihat pada font tulisan jika berwarna hijau bold maka penulisan boolean sudah benar. Kemudian, dibawah ini adalah penggunaan boolean sederhada dengan menggunakan operator pembanding.

In [107]:
#018 - penggunaan boolean pada operator perbandingan
print(1>2)
print(1<2)

False
True

In [106]:
print(1==1)
print(1!=1)

True
False

## Selamat Mencoba